<main id="main">

  <!-- ======= TRAINING ======= -->
  <section class="training">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Lash- und Brow Lifting Professional</h2>
      </div>
      <div>
        <p>
          Werden Sie mit unserem Intensiv-Seminar der absolute Profi für wunderschöne schwunghafte Wimpern und
          ausdruckstarke Augenbrauen! Sie erlenen in diesem Seminar in Theorie und Praxis die Technik des Lash- und
          Browliftings.
        </p>
      </div>

      <%- partial("_benefits")%>

      <%- partial("_order")%>
      
      
    </div>
  </section>
</main>
