<main id="main">

  <!-- ======= TRAINING ======= -->
  <section>
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Gesichtsbehandlung Professional</h2>
        <p>
          <strong>Achtung:</strong> Dieser Kurs befindet sich in der Ausarbeitung. Falls Sie Interesse an diesem Kurs
          haben, schreiben Sie eine DM bei Instagram.
        </p>
      </div>

      <%- partial("_benefits")%>

      <%- partial("_order")%>
      
    </div>
  </section>
</main>