  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>ДИОЗА КОСМЕТИК</h1>
      <h2>Мы предлагаем наши косметические услуги в Дортмунде и Эссене.</h2>
      <a href="about.html" class="btn-about">О НАС</a>
    </div>
  </section><!-- End Hero -->
