<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Услуги и цены</h2>
        <p>
          Наши цены можно посмотреть в прайс-листе. Мы будем рады комбинировать для вас различные приложения и
          косметические продукты и создавать для вас индивидуальные предложения.
        </p>
      </div>

      <div class="row">




        <div class="col-lg-6">
          <h3 class="resume-title">Hautpflege</h3>

          <div class="resume-item">
            <h4>Gesichtsreinigung und Massage</h4>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <p>
            <ul>
              <li>Reinigung der Haut</li>
              <li>Enzympeeling Entfernen von Hautunreinheiten Augenbrauenkorrektur</li>
              <li>Entsprechende Maske Abschlusspflege</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis: 95,00 €</h5>
          </div>


          <div class="resume-item">
            <h4>Microneedling</h4>
            <p>mit speziell ausgewählten Ampullen für ihren Hauttyp </p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis 129,00 €</h5>
            <h5>Preis 3er Packet 345,00 €</h5>
          </div>


          <div class="resume-item">
            <h4>Microdermabrasion</h4>
            <p>Die effektivste und modernste Art der Peelingbehandlung Reinigung I leichtes AHA-Peeling |
              Microdermabrasion I Ampulle I Maske und Abschlusspflege</p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis 149,00 €</h5>
            <h5>Preis 3er Packet 395,00 €</h5>
          </div>
        </div>


        <div class="col-lg-6">
          <h3 class="resume-title">Augenbrauen und Wimpern</h3>
          <div class="resume-item pb-0">
            <h4>Lash Lifting </h4>
            <p><em>inklusive Färben und Keratin Booster </em></p>
            <p>
              Beim Lash Lifting werden die Härchen mit 2 Cremes bearbeitet und in Form gebracht.
            </p>
            <h5>Preis: 59,00 €</h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Brow Lifting </h4>
            <p><em>inklusive Färben </em></p>
            <p>
              Beim Brow Lifting werden die Augenbrauen dauerhaft fixiert.
            </p>
            <h5>Preis: 59,00 €</h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Lash Lifting & Brow Lifting </h4>
            <p><em>inklusive Färben und Keratin Booster</em></p>
            <p>
              Das Lash & Brow Lifting ist eine spezielle und neu entwickelte Methode um den Naturwimpern/Brauen einen
              dauerhaft starken Schwung nach oben zu verleihen.
            </p>
            <h5>Preis: 109,00 €</h5>
          </div>



          <h3 class="resume-title">Hopfhaut und Haarpflege</h3>

          <div class="resume-item">
            <h4>Intensivbehandlung bei Haarausfall oder Schuppen</h4>
            <p><em>Pflegt und erneuert die innere Haarstruktur</em></p>
            <p></p>
            <h5>Preis: 145,00 €</h5>
          </div>

          <div class="resume-item">
            <h4>Kopfhautpflege</h4>
            <p><em>Individuelle Behandlung der Kopfhaut inkl. Entspannungsmassage</em></p>
            <p>
            </p>
            <h5>Preis: 95,00 €</h5>
          </div>

        </div>




      </div>



    </div>
  </section><!-- End Resume Section -->





  <!-- ======= Diosa Section ======= -->
  <section id="diosa" class="">
    <div class="container" data-aos="fade-up">

      <div class="section">
        <h2>Diosa - рай вашей божественной красоты</h2>
        <p>
          Diosa в переводе с испанского означает «богиня», и это именно то чувство, которое мы хотим передать нашим
          уважаемым клиентам. Diosa — это все о вас и ваших потребностях, потому что мы верим, что каждая женщина имеет
          право чувствовать себя богиней.
        </p>
        <p>
          Наш салон красоты – это место, где вы чувствуете себя желанными и заботливыми. Мы создаем знакомую атмосферу,
          в которой можно расслабиться и побаловать себя. С того момента, как вы входите в нашу дверь, вы оказываетесь в
          центре нашего внимания. Наши обученные и чуткие косметологи не торопятся, чтобы понять ваши уникальные желания
          и потребности и создать индивидуальный опыт именно для вас.
        </p>
        <p>
          Мы верим в силу прикосновений и качественных продуктов, которые подчеркнут и укрепят вашу естественную
          красоту. В Diosa мы используем только продукты премиум-класса, которые адаптированы к вашим конкретным
          потребностям кожи и волос. Наши процедуры включают в себя широкий спектр услуг, от ухода за головой и волосами
          до подтяжки бровей и ресниц, программ омоложения и расслабляющих спа-процедур.
        </p>
        <p>
          Наше стремление к совершенству и удовлетворенности клиентов отражено в нашем сервисе. Мы относимся к нашим
          клиентам с уважением, добротой и осторожностью. Мы внимательно выслушаем и найдем время, чтобы ответить на
          ваши вопросы и дать вам наилучший совет. Diosa – это не только внешняя красота, но и ваше самочувствие. Мы
          хотим, чтобы вы чувствовали себя комфортно и уверенно в своей коже, пока мы позволяем вашей красоте сиять.
        </p>
        <p>
          Посетите нас в Diosa и вы будете поражены нашим теплым гостеприимством и профессионализмом. Мы приглашаем вас
          открыть для себя свою внутреннюю богиню и позвольте нам побаловать вас. Оставьте позади стресс повседневной
          жизни и погрузитесь в мир красоты, созданный специально для вас.
        </p>
      </div>

    </div>
  </section>
</main><!-- End #main -->