<% function getRootPath(){ let
    arr=["skincare","face_massage","lash_and_brow_lifting","microneedling","social_media_marketing"];
    if(arr.includes(current.source)) { return "../../" ; } else { return "../" ; } } %>

    <div class="row">
        <div class="col-lg-4">
            <img src="<%=getRootPath()%>assets/img/book.png" class="img img-fluid" />
        </div>
        <div class="col-lg-8">
            <h3>Бонусный материал</h3>
            <p>
                Этот практический онлайн-курс предназначен для того, чтобы вы сразу начали работу. Если у вас есть какие-либо вопросы, тренер всегда доступен для вас в любое время - по электронной почте.
            </p>
            <p>
                Учебный комплект со всеми материалами - в зависимости от бронирования курса мы отправляем его нашим участникам в пределах Германии.
            </p>
            Плюс есть:
            <ul>
                <li>Учебник с обзором материалов</li>
                <li>Учебник с журналом обработки</li>
                <li>Персонализированный сертификат</li>
                <li>Связаться с руководителем курса</li>
            </ul>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <a href="https://amzn.to/45ecVUb" target="_blank" class="a-hover">
                <img src="<%=getRootPath()%>assets/img/amazon.png" class="mx-auto d-block" />
            </a>
        </div>
        <div class="col-lg-8">
            <a class="btn btn-primary btn-lg w-100"><strong>Preis: 489,00 €</strong></a>
        </div>
    </div>