<main id="main">

  <!-- ======= TRAINING ======= -->
  <section>
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Ламинирование бровей и ресниц</h2>
        <p>
          
        </p>
      </div>
	</div>
  </section>
</main>