  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>ДІОЗА КОСМЕТИК</h1>
      <h2>Ми пропонуємо наші косметичні послуги в Дортмунді та Ессені.</h2>
      <a href="about.html" class="btn-about">ПРО НАС</a>
    </div>
  </section><!-- End Hero -->
