<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Услуги и цены</h2>
        <p>
          Наши цены можно посмотреть в прайс-листе. Мы будем рады комбинировать для вас различные приложения и
          косметические продукты и создавать для вас индивидуальные предложения.
        </p>
      </div>

      <div class="row">
      


        <div class="col-lg-6">
          <h3 class="resume-title">Hautpflege</h3>

          <div class="resume-item">
            <h4>Gesichtsreinigung und Massage</h4>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <p>
            <ul>
              <li>Reinigung der Haut</li>
              <li>Enzympeeling Entfernen von Hautunreinheiten Augenbrauenkorrektur</li>
              <li>Entsprechende Maske Abschlusspflege</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis: 95,00 €</h5>
          </div>


          <div class="resume-item">
            <h4>Microneedling</h4>
            <p>mit speziell ausgewählten Ampullen für ihren Hauttyp </p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis 129,00 €</h5>
            <h5>Preis 3er Packet 345,00 €</h5>
          </div>


          <div class="resume-item">
            <h4>Microdermabrasion</h4>
            <p>Die effektivste und modernste Art der Peelingbehandlung Reinigung I leichtes AHA-Peeling |
              Microdermabrasion I Ampulle I Maske und Abschlusspflege</p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis 149,00 €</h5>
            <h5>Preis 3er Packet 395,00 €</h5>
          </div>


        </div>




        <div class="col-lg-6">
          <h3 class="resume-title">Augenbrauen und Wimpern</h3>
          <div class="resume-item pb-0">
            <h4>Lash Lifting </h4>
            <p><em>inklusive Färben und Keratin Booster </em></p>
            <p>
              Beim Lash Lifting werden die Härchen mit 2 Cremes bearbeitet und in Form gebracht.
            </p>
            <h5>Preis: 59,00 €</h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Brow Lifting </h4>
            <p><em>inklusive Färben </em></p>
            <p>
              Beim Brow Lifting werden die Augenbrauen dauerhaft fixiert.
            </p>
            <h5>Preis: 59,00 €</h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Lash Lifting & Brow Lifting </h4>
            <p><em>inklusive Färben und Keratin Booster</em></p>
            <p>
              Das Lash & Brow Lifting ist eine spezielle und neu entwickelte Methode um den Naturwimpern/Brauen einen
              dauerhaft starken Schwung nach oben zu verleihen.
            </p>
            <h5>Preis: 109,00 €</h5>
          </div>



          <h3 class="resume-title">Hopfhaut und Haarpflege</h3>

          <div class="resume-item">
            <h4>Intensivbehandlung bei Haarausfall oder Schuppen</h4>
            <p><em>Pflegt und erneuert die innere Haarstruktur</em></p>
            <p></p>
            <h5>Preis: 145,00 €</h5>
          </div>

          <div class="resume-item">
            <h4>Kopfhautpflege</h4>
            <p><em>Individuelle Behandlung der Kopfhaut inkl. Entspannungsmassage</em></p>
            <p>
            </p>
            <h5>Preis: 95,00 €</h5>
          </div>

        </div>





      </div>



    </div>
  </section><!-- End Resume Section -->



  









  <!-- ======= Diosa Section ======= -->
  <section id="diosa" class="">
    <div class="container" data-aos="fade-up">

      <div class="section">
        <h2>Diosa - ваш божественний рай краси</h2>
        <p>
          Діоза в перекладі з іспанської означає «богиня», і це саме те відчуття, яке ми хочемо передати нашим шановним клієнтам. Diosa - це все про вас і ваші потреби, тому що ми віримо, що кожна жінка має право відчувати себе богинею.
        </p>
        <p>
          Наш салон краси - це місце, де ви почуваєтесь гостинністю та турботою. Ми створюємо затишну атмосферу, в якій можна відпочити та побалувати себе. З того моменту, як ви входите в наші двері, ви в центрі нашої уваги. Наші навчені та чуйні косметологи знайдуть час, щоб зрозуміти ваші унікальні бажання та потреби та створити індивідуальний досвід саме для вас.
        </p>
        <p>
          Ми віримо в силу дотику та якісних продуктів, щоб покращити та зберегти вашу природну красу. У Diosa ми використовуємо лише першокласні продукти, які адаптовані до ваших конкретних потреб шкіри та волосся. Наші процедури включають широкий спектр послуг, від догляду за головою та волоссям до підтяжки брів і вій, програм омолодження та розслаблюючих спа-процедур.
        </p>
        <p>
          Наше прагнення до досконалості та задоволеності клієнтів відображається в наших послугах. Ми ставимося до наших клієнтів з повагою, добротою та розсудливістю. Ми уважно слухаємо та знаходимо час, щоб відповісти на ваші запитання та надати вам найкращі поради. Diosa - це не тільки зовнішня краса, а й ваше самопочуття. Ми хочемо, щоб ви почувалися комфортно та впевнено у своїй шкірі, а ми дозволили вашій красі сяяти.
        </p>
        <p>
          Завітайте до нас у Diosa і будьте вражені нашою теплою гостинністю та експертністю. Ми запрошуємо вас відкрити свою внутрішню богиню і дозвольте нам побалувати вас. Залиште стрес повсякденного життя позаду та пориньте в красу, створену саме для вас.
        </p>
      </div>

    </div>
  </section>
</main><!-- End #main -->