<style>
    .row div{
        padding: 0 !important;
    }
	.download-list img{	
		width: 64px;
		height: 64px;
	}
</style>
<h1>Download</h1>
<p><hr/></p>
<div class="row mb-3 download-list" bis_skin_checked="1" >
<p><hr/></p>
	<div class="col-6 themed-grid-col" bis_skin_checked="1">
		<h2>Pressotherapie</h2>
    </div>
    <div class="col-3 themed-grid-col" bis_skin_checked="1">
        <a href="Pressotherapie.pptx"> <img src="img/ppt.jpg" alt="Download PPTX" > </a>
    </div>
    <div class="col-3 themed-grid-col" bis_skin_checked="1">
        <a href="Pressotherapie.pdf"> <img src="img/pdf.jpg" alt="Download PDF"> </a>
    </div>
<p><hr/></p>
	
	<div class="col-6 themed-grid-col" bis_skin_checked="1">
		<h2>Koerperwieckel-Behandlung</h2>
    </div>
    <div class="col-3 themed-grid-col" bis_skin_checked="1">
        <a href="Koerperwieckel-Behandlung.pptx"> <img src="img/ppt.jpg" alt="Download PPTX"> </a>
    </div>
    <div class="col-3 themed-grid-col" bis_skin_checked="1">
        <a href="Koerperwieckel-Behandlung.pdf"> <img src="img/pdf.jpg" alt="Download PDF"> </a>
    </div>
	
</div>