<style>
    .row div{
        padding: 0 !important;
    }
</style>
<h1>Download</h1>
<p><hr/></p>
<div class="row mb-3" bis_skin_checked="1">
    <div class="col-4 themed-grid-col" bis_skin_checked="1">
        <img src="img/1 Ira_first.jpg" class="img img-fluid img-thumbnail" />
    </div>
    <div class="col-4 themed-grid-col" bis_skin_checked="1">
        <img src="img/2 Ira_first.jpg" class="img img-fluid img-thumbnail" />
    </div>
    <div class="col-4 themed-grid-col" bis_skin_checked="1">
        <img src="img/3 Ira_first.jpg" class="img img-fluid img-thumbnail" />
    </div>
    <div class="col-4 themed-grid-col" bis_skin_checked="1">
        <img src="img/1 Brown-Style.jpg" class="img img-fluid img-thumbnail" />
    </div>
    <div class="col-4 themed-grid-col" bis_skin_checked="1">
        <img src="img/2 Brown-Style.jpg" class="img img-fluid img-thumbnail" />
    </div>
    <div class="col-4 themed-grid-col" bis_skin_checked="1">
        <img src="img/3 Brown-Style.jpg" class="img img-fluid img-thumbnail" />
    </div>
</div>