<% function getRootPath(){ let
  arr=["skincare","face_massage","lash_and_brow_lifting","microneedling","social_media_marketing"];
  if(arr.includes(current.source)) { return "../../" ; } else { return "../" ; } } %>

  <main id="main">

    <!-- ======= TRAINING ======= -->
    <section class="training">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Массаж лица</h2>
          <p>
            <strong>Внимание:</strong>
            Этот курс находится еще в разработке и скоро будет доступен.
            Если вы заинтересованы в одном из этих курсов, пожалуйста, свяжитесь с нами через Instagram.
          </p>
        </div>

        <%- partial("_benefits")%>

        <%- partial("_order")%>

      </div>
    </section>
  </main>