<% function getRootPath(){ let
  arr=["skincare","face_massage","lash_and_brow_lifting","microneedling","social_media_marketing"];
  if(arr.includes(current.source)) { return "../../" ; } else { return "../" ; } } %>

  <main id="main">

    <!-- ======= TRAINING ======= -->
    <section class="training">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Маркетинг в области СМИ</h2>
          <p>
            <strong>Внимание:</strong>
            Этот курс находится еще в разработке и скоро будет доступен.
            Если вы заинтересованы в одном из этих курсов, пожалуйста, свяжитесь с нами через Instagram.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h3>Die Vorteile des Online-Lernens: Flexibel, Effizient und Bereichernd</h3>

            Herzlich willkommen in der faszinierenden Welt des Online-Lernens! In Zeiten fortschreitender
            Digitalisierung eröffnen sich uns neue Horizonte für die persönliche Weiterbildung. Online-Kurse haben
            längst ihren festen Platz in der Bildungslandschaft gefunden und bieten zahlreiche Vorteile, die das Lernen
            noch angenehmer und effizienter gestalten. Lassen Sie uns einen Blick auf die faszinierenden Vorzüge des
            Online-Lernens werfen:

            <ol>
              <li><strong>Räumliche Unabhängigkeit:</strong> Mit Online-Seminaren und E-Learnings sind Sie nicht mehr an
                einen bestimmten
                Ort gebunden. Lernen Sie bequem von überall auf der Welt – sei es von zu Hause, dem Büro oder sogar
                unterwegs. Alles, was Sie benötigen, ist ein Internetzugang und ein Endgerät Ihrer Wahl.</li>

              <li><strong>Zeitliche Flexibilität:</strong> Vergessen Sie feste Kurszeiten! Online-Kurse ermöglichen es
                Ihnen, Ihr eigenes
                Zeitmanagement zu gestalten. Sie entscheiden, wann und wie lange Sie lernen möchten. Ob frühmorgens oder
                spätabends, Sie richten sich nach Ihrem persönlichen Tagesablauf.</li>

              <li><strong>Kostenersparnis:</strong> Im Vergleich zu Präsenz-Seminaren sind Online-Kurse oft
                kostengünstiger. Die
                wegfallenden Raum- und Verpflegungskosten machen das Lernen online zu einer attraktiven Option, die
                Ihren Geldbeutel schont.</li>

              <li><strong>Zuverlässigkeit:</strong> Keine Sorge um Mindestteilnehmerzahlen oder abgesagte Kurse.
                Online-Seminare bieten
                Ihnen absolute Planungssicherheit und finden in der Regel auch bei wenigen Teilnehmern statt.</li>

              <li><strong>Individuelles Lerntempo:</strong> Passen Sie das Lernen Ihrem eigenen Rhythmus an. Mit
                Online-Kursen bestimmen
                Sie selbst, wie viel Sie lernen und wie schnell Sie vorankommen. Pausen und Wiederholungen sind
                jederzeit möglich.</li>

              <li><strong>Motivationssteigerung:</strong> Die hohe Flexibilität motiviert viele Lernende zusätzlich. Sie
                können die
                Inhalte auswählen, die gerade Ihr Interesse wecken, und lernen so mit mehr Begeisterung und Motivation.
              </li>

              <li><strong>Wiederholbarkeit:</strong> Vergessene Inhalte gehören der Vergangenheit an. Online-Kurse
                bieten Ihnen die
                Möglichkeit, die Lerneinheiten beliebig oft zu wiederholen und sich immer wieder auf den neuesten Stand
                zu bringen.</li>

              <li><strong>Zugang zu Zusatzmaterialien:</strong> Ergänzend zu den Kursinhalten erhalten Sie oft Zugriff
                auf weiteres
                Lernmaterial wie Videos, Tutorials oder weiterführende Literatur. So vertiefen Sie Ihr Wissen noch
                intensiver.</li>
            </ol>

            Nutzen Sie die vielfältigen Möglichkeiten des Online-Lernens und entdecken Sie die spannende Welt der
            Bildung auf neue Weise. Erweitern Sie Ihre Kompetenzen, entfalten Sie Ihr Potenzial und setzen Sie Ihre
            beruflichen und persönlichen Ziele um – alles bequem und flexibel von zu Hause aus. Willkommen in der
            Zukunft des Lernens!

          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-lg-4">
            <img src="<%=getRootPath()%>assets/img/book.png" class="img img-fluid" />
          </div>
          <div class="col-lg-8">
            <h3>Bonusmaterial</h3>
            <p>
              Dieser praxisorientierter Onlinekurs wurde entworfen, um direkt mit der Behandlung beginnen zu können. Bei
              Fragen steht Ihnen der Trainer immer und zu jeder Zeit - per Mail - zur Verfügung.
            </p>
            <p>
              Ein Trainingsset mit allen Materialien - je nach Kursbuchung versenden wir an unsere Teilnehmer innerhalb
              Deutschland.
            </p>
            Dazu gibt es:
            <ul>
              <li>Kursbuch mit Materialübersicht</li>
              <li>Kursbuch mit Abarbeitungsprotokoll</li>
              <li>Personalisiertes Zertifikat</li>
              <li>Kontakt zur Kursleitung</li>
            </ul>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <a href="https://amzn.to/45ecVUb" target="_blank" class="a-hover">
              <img src="<%=getRootPath()%>assets/img/amazon.png" class="mx-auto d-block" />
            </a>
          </div>
          <div class="col-lg-8">
            <a class="btn btn-primary btn-lg w-100"><strong>Preis: 489,00 €</strong></a>
          </div>
        </div>



      </div>






    </section>
  </main>