<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>DIOSA KOSMETIK</h1>
        <h2>Willkommen bei Diosa - Ihrem Beauty-Salon für ganzheitliche Schönheit und Verjüngung in Dortmund und Essen.
            Tauchen Sie ein in eine Welt der Entspannung und lassen Sie sich von unseren maßgeschneiderten Behandlungen
            verwöhnen. Erfahren Sie, warum wir der bevorzugte Salon für Frauen, die ihre
            Hautpflegebedürfnisse ernst nehmen.</h2>
        <a href="about.html" class="btn-about">Über uns</a>
    </div>
</section><!-- End Hero -->