<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Leistungen und Preise</h2>
        <p>
          Unsere Preise entnehmen Sie bitte der Preisliste. Gerne kombinieren wir verschiedene Anwendungen und
          Kosmetikprodukte für Sie und erstellen Ihnen individuelle Angebote.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Augenbrauen und Wimpern</h3>
          <div class="resume-item pb-0">
            <h4>Lash Lifting </h4>
            <p><em>inklusive Färben und Keratin Booster </em></p>
            <p>
              Beim Lash Lifting werden die Härchen mit 2 Cremes bearbeitet und in Form gebracht.
            </p>
            <h5>Preis: 59,00 €</h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Brow Lifting </h4>
            <p><em>inklusive Färben </em></p>
            <p>
              Beim Brow Lifting werden die Augenbrauen dauerhaft fixiert.
            </p>
            <h5>Preis: 59,00 €</h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Lash Lifting & Brow Lifting </h4>
            <p><em>inklusive Färben und Keratin Booster</em></p>
            <p>
              Das Lash & Brow Lifting ist eine spezielle und neu entwickelte Methode um den Naturwimpern/Brauen einen
              dauerhaft starken Schwung nach oben zu verleihen.
            </p>
            <h5>Preis: 109,00 €</h5>
          </div>



          <h3 class="resume-title">Hopfhaut und Haarpflege</h3>

          <div class="resume-item">
            <h4>Intensivbehandlung bei Haarausfall oder Schuppen</h4>
            <p><em>Pflegt und erneuert die innere Haarstruktur</em></p>
            <p></p>
            <h5>Preis: 145,00 €</h5>
          </div>

          <div class="resume-item">
            <h4>Kopfhautpflege</h4>
            <p><em>Individuelle Behandlung der Kopfhaut inkl. Entspannungsmassage</em></p>
            <p>
            </p>
            <h5>Preis: 95,00 €</h5>
          </div>

        </div>






        <div class="col-lg-6">
          <h3 class="resume-title">Hautpflege</h3>

          <div class="resume-item">
            <h4>Gesichtsreinigung und Massage</h4>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <p>
            <ul>
              <li>Reinigung der Haut</li>
              <li>Enzympeeling Entfernen von Hautunreinheiten Augenbrauenkorrektur</li>
              <li>Entsprechende Maske Abschlusspflege</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis: 95,00 €</h5>
          </div>


          <div class="resume-item">
            <h4>Microneedling</h4>
            <p>mit speziell ausgewählten Ampullen für ihren Hauttyp </p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis 129,00 €</h5>
            <h5>Preis 3er Packet 345,00 €</h5>
          </div>


          <div class="resume-item">
            <h4>Microdermabrasion</h4>
            <p>Die effektivste und modernste Art der Peelingbehandlung Reinigung I leichtes AHA-Peeling |
              Microdermabrasion I Ampulle I Maske und Abschlusspflege</p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis 149,00 €</h5>
            <h5>Preis 3er Packet 395,00 €</h5>
          </div>


        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->



  <!-- ======= Diosa Section ======= -->
  <section id="diosa" class="">
    <div class="container" data-aos="fade-up">

      <div class="section">
        <h2>Diosa - Ihr göttliches Schönheitsparadies</h2>
        <p>
          Diosa bedeutet "Göttin" im Spanischen, und das ist genau das Gefühl, das wir unseren geschätzten Kunden
          vermitteln wollen. Bei Diosa dreht sich alles um Sie und Ihre Bedürfnisse, denn wir glauben daran, dass jede
          Frau das Recht hat, sich wie eine Göttin zu fühlen.
        </p>
        <p>
          Unser Beauty-Salon ist ein Ort, an dem Sie sich willkommen und umsorgt fühlen. Wir schaffen eine vertraute
          Atmosphäre, in der Sie sich entspannen und verwöhnen lassen können. Von dem Moment an, in dem Sie unsere Tür
          betreten, sind Sie der Mittelpunkt unserer Aufmerksamkeit. Unsere geschulten und einfühlsamen Kosmetikerinnen
          nehmen sich die Zeit, Ihre individuellen Wünsche und Bedürfnisse zu verstehen und eine maßgeschneiderte
          Erfahrung für Sie zu schaffen.
        </p>
        <p>
          Wir glauben an die Kraft der Berührung und der hochwertigen Produkte, um Ihre natürliche Schönheit zu betonen
          und zu pflegen. Bei Diosa verwenden wir nur erstklassige Produkte, die auf Ihre spezifischen Haut- und
          Haarbedürfnisse abgestimmt sind. Unsere Behandlungen umfassen eine breite Palette von Dienstleistungen, von
          Kopf- und Haarbehandlungen bis hin zu Augenbrauen- und Wimpernliftings, Verjüngungsprogrammen und
          entspannenden SPA-Erlebnissen.
        </p>
        <p>
          Unser Engagement für Exzellenz und Kundenzufriedenheit spiegelt sich in unserem Service wider. Wir behandeln
          unsere Kunden mit Respekt, Freundlichkeit und Diskretion. Wir hören Ihnen aufmerksam zu und nehmen uns die
          Zeit, um Ihre Fragen zu beantworten und Ihnen die bestmögliche Beratung zu bieten. Bei Diosa geht es nicht nur
          um äußere Schönheit, sondern auch um Ihr Wohlbefinden. Wir möchten, dass Sie sich in Ihrer Haut wohl und
          selbstbewusst fühlen, während wir Ihre Schönheit zum Strahlen bringen.
        </p>
        <p>
          Besuchen Sie uns bei Diosa und lassen Sie sich von unserer herzlichen Gastfreundschaft und unserem Fachwissen
          begeistern. Wir laden Sie ein, Ihre innere Göttin zu entdecken und sich von uns verwöhnen zu lassen. Lassen
          Sie den Alltagsstress hinter sich und tauchen Sie ein in ein Schönheitserlebnis, das speziell auf Sie
          zugeschnitten ist.
        </p>
      </div>

    </div>
  </section>
</main><!-- End #main -->